html, body {
    width: 100vw;
    height: 100vh;
}
body {
    box-sizing: border-box;
    font-size: 20px;
    font-family: arial, sans-serif;
    background: #ccc;

}
body * {
    box-sizing: border-box;
    touch-action: manipulation;
}
h3 {
    text-align: center;
    margin: 10px 0;
    color: #fff;
}
.frame {
    max-width: 600px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 10px;
    background: #333;
    padding: 10px;
    border-radius: 8px;

    -webkit-box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.59); 
    box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.59);
}
input {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #929d97;
    color: #333;
    padding: 4px 10px;
}
input:focus {
    outline: pink;
}
.row {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    column-gap: 10px;
}
.col {
    flex-grow: 1;
    width: 25%;
}
.col-full {
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    height: 60px;
    color: #fff;

    background-color: #555;

    border: solid 1px #000;
    border-radius: 8px;

    -webkit-box-shadow: 5px 5px 4px -3px rgba(0,0,0,0.26); 
    box-shadow: 5px 5px 4px -3px rgba(0,0,0,0.26);
}

.btn.dark {
    background-color: #444;
}
.btn.calc {
    background-color: #770000;
}

.btn:active {
    background-color: #494949;
    border-width: 2px;
}
.btn.dark:active {
    background-color: #383838;
    border-width: 2px;
}
.btn.calc:active {
    background-color: #690000;
}

.btn.hide {
    display: none;
}
